
<footer class="footer">
     <div class="pie">
            <div class="pajaros"></div>
            <div class="pluma">
                <div id="infoDiv" class="info">
                    SEO/BirdLife.
                    <span id="Label20">Todos los derechos reservados</span>
                    &copy; 
                    2018
                </div>
                <div class="contacto">
                    C/Melquiades Biencinto, 34, 28053 Madrid<br />
                    Tel: +34 914 340 910 / Fax: +34 914 340 911 <a href="mailto:gruposdetrabajo@seo.org" id="refEmailPie">
                        <span id="lbEmailPie">gruposdetrabajo@seo.org</span></a>
                </div>
                <div class="social">
                    <a href="https://play.google.com/store/apps/details?id=com.dimatica.GruposTrabajo">
                        <img id="Image2" src="assets/img/playstore-icon.png" />
                    </a>
                    <a target="_blank" href="https://itunes.apple.com/es/app/grupos-de-trabajo/id1087764933?mt=8">
                        <img id="Image3" src="assets/img/appstore-icon-sin-fondo.png" />
                    </a>
                    <a href="https://twitter.com/SEO_BirdLife" target="_blank">
                        <img id="imgTwitter" src="assets/img/twitter-icon.png" />
                    </a>
                    <a href="https://es-es.facebook.com/seobirdlife" target="_blank" >
                    <img id="imgFacebook" src="assets/img/facebook-icon.png" />
                    </a>
                </div>
            </div>

        </div>
</footer>
