
        <div class="cabecera">
            <div class="RadAjaxPanel" id="ctl00_ctl00_CabeceraMasterPanel">
  <div id="CabeceraMaster">
    
               
                <a href="index.php" id="mainPage" class="logo">
                    <img id="Image1" src="assets/img/logo_seo.png" alt="Logo SEO" />
                </a>
                
                <h1 class="titulo">
                    <!--Javi-->
                    <a id="HyperLink1" href="index.php">Censos urbanos</a>

                </h1>
               
                <div class="login">
                    <div class="acceso">
                        <a id="hlRegistro" class="usuario" href="WebForms/RegistroColaborador/RegistroColaborador.aspx">Registrarse como colaborador</a>
                        <span id="ctl00_btnLogin" class="RadButton RadButton_Metro rbLinkButton Button Verde login">
                                <i class="dimaticon user"></i>
                                <span>Identificarse</span>
                            <input id="ctl00_btnLogin_ClientState" name="ctl00_btnLogin_ClientState" type="hidden" /></span>

                    </div>
                    <div class="acceso">
                        
                        
                    </div>
                    <div class="creditos">
                        <a id="hlCreditos" class="datos" href="WebForms/Informacion/Creditos.aspx">Créditos Aplicación</a>
                        <a id="hlGracias" class="datos" href="WebForms/Informacion/Agradecimientos.aspx">Agradecimientos</a>
                    </div>
                </div>
            
  </div>
</div>







<div class="main-content" style="background-color:#f5f5f5; margin-top:10px">
 
</div>
